<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.cyanogenmod.fonts.alegreya">

    <meta-data android:name="org.cyanogenmod.theme.name" android:value="Alegreya"/>
    <meta-data android:name="org.cyanogenmod.theme.author" android:value="Juan Pablo del Peral" />

<application android:hasCode="false" android:icon="@drawable/ic_launcher" android:label="Alegreya Font">
    </application>

</manifest>
